/* About.styles.css */

.company-info-container {
  display: flex;
  flex-direction: column; /* Stack elements vertically on small screens */
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.image-container {
  margin-bottom: 20px; /* Add some spacing between image and content */
}

.about-img-1 {
  max-width: 100%;
  height: auto;
}

.content-container {
  text-align: center; /* Center the content */
}

.About-heading {
  font-size: 24px;
  color: #333;
}

/* Add media query for responsiveness */
@media (min-width: 768px) {
  .company-info-container {
    flex-direction: row; /* Align elements side by side on larger screens */
  }

  .image-container {
    margin-bottom: 0; /* Reset spacing for larger screens */
    margin-right: 20px;
  }
}
