/* .About {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px; 
}

.About-left-side,
.About-right-side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-img-1 {
  width: 260px; 
  height: 360px; 
  object-fit: cover; 
}

.About-heading {
  font-size: 24px;
  text-align: center;
}

.About-para {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}


.centered {
  text-align: center;
} */


/* About.styles.css */

.company-info-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.image-container {
  flex: 0 0 auto; /* Prevent image from growing */
  margin-right: 20px;
}

.about-img-1 {
  max-width: 100%;
  height: auto;
}

.content-container {
  flex: 1 1 auto; /* Allow content to grow */
}

/* Add additional styling as needed */
.About-heading {
  font-size: 24px;
  color: #333;
}

.About-para {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

.content-container {
  flex: 1 1 auto; /* Allow content to grow */
  text-align: center; /* Center the content */
}

.About-heading {
  font-size: 24px;
  color: #333;
}