/* Carousel.styles.css */

.custom-carousel {
    position: relative;
    max-width: 900px;
    
    margin: auto;
    overflow: hidden;
  }
  
  .carousel-container {
    display: flex;
    /* transition: transform 0.5s ease-in-out; */
  }
  
  .carousel-slide {
    width: 100%;
    flex-shrink: 0;
  }
  
  .carousel-slide-content {
    display: flex;
  }
  
  .carousel-slide-left-box,
  .carousel-slide-right-box {
    flex: 1;
  }
  
  .carousel-slide-right-box {
    display: flex;
    justify-content: flex-end;
    margin-left: 100px; /* Add margin to create a gap between content and image */
  }
  
  .carousel-img {
    max-width: 100%;
    height: auto;
    height: px;
    object-fit: cover;
  }
  
  .carousel-heading {
    font-size: 24px;
    margin-bottom: 10px;
    color: blue;
  }
  
  .carousel-button {
    background-color: blue;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  .carousel-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  
  .carousel-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: grey;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .carousel-dot.active {
    background-color: blue;
  }
  