.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3% 7%;
  background-color: rgba(38, 50, 56, 1);
  color: white;
  gap: 5%;
}

.footer-brand-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.footer-brand-social-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 0.5rem;
}

.icon {
  background-color: #3c464c;
  padding: 3%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  border-radius: 100%;
  color: white;
}

.footer-section-title {
  margin-bottom: 30%;
  font-size: 30px;
}

.footer-link {
  color: white;
  text-decoration: none;
}

.footer-div-1 {
  display: flex;
  flex-direction: column;
  gap: 4.5rem;
}

.footer-div-4 {
  width: min-content;
  text-align: start;
}

.p1 {
  margin-top: -8%;
}

@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }

  .footer-brand-logo {
    margin-left: -20%;
  }

  .footer-div-1 {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 5%;
  }

  .footer-brand-social-icon {
    margin-bottom: 15%;
  }

  .footer-div-2, .footer-div-3, .footer-div-4 {
    margin-bottom: 10%;
  }
}
.footer-brand-logo h3 {
  font-size: 25px; /* Increase font size for "Corporation" */
}

.footer-section-title h5 {
  font-size: 20px; /* Decrease font size for other titles */
}
